// Custom styles.
.local-search-popup .local-search-input-wrapper
    display: inline-block
    width: calc(100% - 75px)
    height: 36px
    line-height: 36px
    padding: 0 5px

.local-search-popup .search-icon
    float: left
    padding-left: 10px

.popup-btn-close
    border-left: 1px solid #eee
    float: right
    cursor: pointer
    padding-left: 10px
    padding-right: 5px;

h4
    font-size: 14px

@media (min-width: 1600px) {
    body {
        font-size: 14px;
    }
}

.menu-item-active a:after
    background-color: #000000

.posts-collapse .post-title
    font-size: 14px
.posts-collapse .collection-title
    margin: 40px auto;
.posts-collapse .collection-title h2.archive-year
    margin-left: 0
    text-align: center

.ip-api > table > thead > tr > th:nth-child(1){
    width: 10%
}
.ip-api > table > thead > tr > th:nth-child(2){
    width: 10%
}
